<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div>
      <form action="/posts/add" method="post" enctype="multipart/form-data">
          <input type="text" name="postText" placeholder="Текст поста"><br>
          <input type="number" name="storyPrice" placeholder="Цена в истории"><br>
          <input type="number" name="feedPrice" placeholder="Цена в ленте"><br>
          <input type="file" name="image"><br>
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
          <button type="submit">добавить пост</button>
      </form>
  </div>
</body>
</html>