<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div>
  <div th:each="el : ${post}" class="alert alert-info mt-2">
    <h3 th:text="${el.text}"></h3>
    <p th:text="${el.storyPrice}"></p>
    <p th:text="${el.feedPrice}"></p>
    <p th:text="${el.published}"></p>
    <p th:text="${el.views}"></p>
    <img th:src="@{|data:image/png;base64,${el.imageBase64}|}" alt="Изображение">
    <a th:href="'/post/' + ${el.postId} + '/edit'" th:if="${user == el.user}">Изменить</a>
  </div>
</div>


</body>
</html>