<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<body>

<div>
  <div>
    <div>
      <div th:each="el : ${post}">
        <!-- Header -->
        <div>
          <h3 th:text="${el.text}"></h3>
        </div>

        <!-- Image -->
        <img th:src="@{|data:image/png;base64,${el.imageBase64}|}" alt="Изображение">

        <!-- Content -->
        <div>
          <p th:text="${el.storyPrice}"></p>
          <p th:text="${el.feedPrice}"></p>
          <p th:text="${el.published}"></p>
          <p th:text="${el.views}"></p>
        </div>

        <!-- Actions -->
        <div>
          <div sec:authorize="isAuthenticated()">
            <div th:if="${user == el.user}">
              <a th:href="'/post/' + ${el.postId} + '/edit'">Изменить</a>
            </div>
            <div th:if="${user != el.user}">
              <!-- Subscribe button -->
              <form th:action="@{'/post/' + ${el.postId} + '/subscribe'}" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <button type="submit">
                  <span th:if="${isSubscriber}">подписаться</span>
                  <span th:if="${!isSubscriber}">отписаться</span>
                </button>
              </form>

              <!-- Like button -->
              <form method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <button type="submit">
                  <img th:if="${!isLiked}" th:src="@{/pictures/emptyHeart.png}" alt="Like">
                  <img th:if="${isLiked}" th:src="@{/pictures/likeHeart.png}" alt="Liked">
                </button>
              </form>

              <div>
                <form th:action="@{'/post/' + ${el.postId} + '/addComment'}" method="post">
                  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                  <input type="text" name="comment"><br>
                  <button>
                    <p>добавить комментарий</p>
                  </button>
                </form>
              </div>



            </div>
          </div>
        </div>


        <div th:each="comm : ${comments}" class="comments">
          <p th:text="${comm.comment}"></p>
          <p th:text="${comm.user.username}"></p>
          <img th:src="@{|data:image/png;base64,${comm.user.imageBase64}|}" alt="Изображее">
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
