<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="resources/static/css/style.css">
    <title>Title</title>
</head>
<body>

<div class="centered-container">

  <table>
    <tr th:each="row : ${#numbers.sequence(0, posts.size() - 1, 3)}">
      <th th:each="i : ${#numbers.sequence(row, row + 2)}" th:if="${i < posts.size()}" style="padding-right: 20px;">
        <div th:with="el=${posts[i]}">
          <a th:href="'/post/' + ${el.postId}">
            <div style="border: 1px solid black; padding: 10px;">
              <h3 th:text="${el.text}"></h3>
              <img th:src="@{|data:image/png;base64,${el.imageBase64}|}" alt="Изображение" style="width: 200px; height: 300px;">
              <p th:text="${el.storyPrice}"></p>
              <p th:text="${el.feedPrice}"></p>
              <p th:text="${el.published}"></p>
              <p th:text="${el.views}"></p>
            </div>
          </a>
        </div>
      </th>
    </tr>
  </table>

</div>


    <a href="/posts/add">добавить пост</a>

</body>
</html>