[th\:name="navigation"] {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

[th\:name="navigation"] table {
    border-collapse: collapse; /* Убираем двойные границы между ячейками */
}

[th\:name="navigation"] td {
    min-width: 100px; /* Минимальная ширина ячеек */
    padding: 10px;   /* Отступы внутри ячеек */
    text-align: center; /* Текст в ячеек по центру */
}

[th\:name="navigation"] a {
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    color: black; /* Цвет текста ссылок */
}

[th\:name="navigation"] a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}