<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div>
    <a href="/personalAccount/signIn">Авторизоваться</a>
    <a href="/personalAccount/signUp">Зарегестрироваться</a>
  </div>

  <div sec:authorize="isAuthenticated()">
    <div class="personalInfo">
        <p th:text="${user.username}"></p>
        <form method="post" enctype="multipart/form-data">
            <input type="text" name="mail"><br>
            <input type="file" name="image">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <button type="submit">сохранить</button>
        </form>
    </div>
  </div>



</body>
</html>